<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="base::layout(~(::section))">
<head>
<meta charset="UTF-8" />
<title>Contact</title>
</head>
<body>

	<section class="contactclass">
		<h1>Contact Content</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Officiis facere inventore quibusdam at itaque quod expedita
			veritatis. Modi asperiores ab suscipit laborum neque tempora
			voluptates ad nihil harum sed. Labore dolor cumque inventore quisquam
			earum repellat laudantium mollitia a nihil consequuntur molestiae
			minus. Quos quas quibusdam earum eius dignissimos est maxime sapiente
			ea eos iure accusamus hic voluptatem itaque non repellendus eum ab
			laboriosam debitis maiores fugit impedit soluta amet libero provident
			cum neque ipsum beatae temporibus nihil inventore qui fugiat
			cupiditate doloremque reiciendis quae dolores mollitia veritatis?
			Dolorem tempora reprehenderit fuga cumque itaque delectus quod
			veritatis nulla dignissimos beatae.</p>

	</section>


</body>
</html>