<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer tag</title>
</head>
<body>
	
	<footer id="Fragment Tag" th:fragment="footer1(title,subtitle)">
	<div id="container">
	<h1 th:text="${title}"></h1>
	<h1 th:text="${subtitle}"></h1>
	<h1>Kalamay poida</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis sunt sapiente officia placeat expedita perferendis obcaecati aut quod dolore. Hic odio ipsa illo commodi corrupti numquam rerum quisquam incidunt.</p>
	</div>
	</footer>
	
</body>
</html>